p {
  color: red;
}

a {
  background-color: green;
}

div {
  width: auto;
}

<<<<<<< HEAD
select {
  color: aliceblue;
=======
cite {
  box-shadow: inset;
}

section {
  color: black;
>>>>>>> main
}
